{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">    

    <link href="profile.ico" rel="icon" type="image/x-icon" />

    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <title> Profile Card </title>

</head>

<body>
    <div class="modal">
        <img id="image-preview" src="#" class="show-image">
    </div>
    
    <div class="container">
        <div class="card">
            <form action="editProfile" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="header">
                    <div class="hamburger-menu">
                        <div class="center"></div>
                    </div>
                    <div class="main">
                        <div class="image">
                            <div class="hover">
                                
                                <label for="fileInput">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#e8eaed"><path d="M440-200h80v-167l64 64 56-57-160-160-160 160 57 56 63-63v167ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/></svg>
                                </label>
                                <input id="fileInput" type="file" name="profileimage" accept=".jpg, .png, .mp4, .jpeg" hidden>
                                <input type="hidden" name="url" id="url">
                            </div>
                        </div>
                        <h3 class="name"> {{request.user.first_name}} {{request.user.last_name}} </h3>
                        <h3 class="sub-name">@{{request.user}} </h3>
                    </div>
                </div>

                <div class="edit">
                    <div class="left">
                        <div class="about-container">
                            <h3 class="title"> About Me ! </h3>
                            <textarea name="userAbout" class="text form-control">{{profile.userAbout}}</textarea>
                        </div>
                        
                        <div class="buttons-wrap">
                            <div class="follow-wrap">
                                <button type="submit" href="editProfile" class="follow"> Save Change </button>
                            </div>
                            <div class="share-wrap">
                                <a href="" target="_blank" class="share"> Fork </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function(event) { 
            const [file] = event.target.files; 
            if (file) { 
              const reader = new FileReader(); 
              reader.onload = function(e) { 
                const preview = document.getElementById('image-preview'); 
                preview.src = e.target.result; preview.style.display = 'block'; 
              } 
              reader.readAsDataURL(file); 
            } 
          }); 
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
